.first-container {
  display: flex;
  background: light blue;
  border: 4px solid blue;
}

.first-container div {
  background: peachpuff;
  border: 4px solid brown;
  height: 100px;
  width: 33.33px
  padding: 20px;
  flex: 1;
}

.two-container {
  display: flex;
}
.middle-one {
    background:light pink;
    border: 4px solid browm;
}
.footer-container {
    display:flex;
    background: light blue;
    border: 4px solid yellow;
}

.footer-container div{
    background: peachpuff;
    border: 4px solid red;
    height: 100px;
    width: 100px;
}