div {
  display: flex;
  justify-content: center;
  align-items: center;
}

div div h1 {
  background-color: red;
  /* justify-content: center; */
  width: 120px;
  /* align-items: center; */
  /* align-content: space-around; */
  /* align-self: center; */
}
